</body>
<!-- section 5 -->

<footer>
 <!-- <hr> -->
 <ul class="f-para">
   <li><a href="/login_landing">Home</a></li>
   <li><a href="/politics">Politics</a></li>
   <li><a href="/business">Business</a></li>
   <li><a href="/economics">Economics</a></li>
   <li><a href="/technology">Technology</a></li>
   <li><a href="/science">Science</a></li>
   <li><a href="/energy">Energy</a></li>
   <li><a href="/food">Food</a></li>
   <li><a href="/entertainment">Entertainment</a></li>
   <li><a href="/travel">Travel</a></li>
   <li><a href="/music">Music</a></li>
   <li><a href="/sport">Sport and Gaming</a></li>
   <li>
     <a href="#"><i class="fa fa-facebook"></i></a>
     <a href="#"><i class="fa fa-twitter"></i></a>
     <a
       href="https://www.instagram.com/invites/contact/?utm_source=ig_contact_invite&utm_medium=user_system_sheet&utm_content=1zle754"
       ><i class="fa fa-instagram"></i
     ></a>
   </li>
 </ul>
 <div class="copyright">
   <p>&copy;2021. All rights reserved</p>
 </div>
</footer>
</html>
