<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/section.styles.css" />
    <link rel="stylesheet" href="/css/section2.styles.css" />
    <link rel="stylesheet" href="/css/section3.styles.css" />
    <link rel="stylesheet" href="/css/section4.styles.css" />
    <link rel="stylesheet" href="/css/footer.styles.css" />
    <link rel="stylesheet" href="/css/pages.styles.css" />

    <script
      defer
      src="https://kit.fontawesome.com/cc498e406e.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>News</title>
  </head>
  <body>