<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/section.styles.css" />
    <link rel="stylesheet" href="/css/section2.styles.css" />
    <link rel="stylesheet" href="/css/section3.styles.css" />
    <link rel="stylesheet" href="/css/section4.styles.css" />
    <link rel="stylesheet" href="/css/footer.styles.css" />
    <link rel="stylesheet" href="/css/pages.styles.css" />
    <link rel="stylesheet" href="/css/cred.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
      integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://kit.fontawesome.com/cc498e406e.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <link
      rel="icon"
      href="/home/julius/Desktop/News/public/images/favicon.png"
    />
    <title>News</title>
  </head>
  <body>
    <div class="container mt-5">
      <h1>Login</h1>

      <div class="row">
        <div class="col-sm-8">
          <div class="card">
            <div class="card-body">
              <!-- Makes POST request to /login route -->

              <form action="/login" method="POST">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    required
                  />
                </div>
                <!-- Alert Div -->

                <div
                  class="alert alert-danger"
                  role="alert"
                  id="alert1-div"
                  style="display: <%-display%>"
                >
                  <strong>Error! <%=error %> </strong>
                </div>
                <button type="submit" class="btn btn-dark">Login</button>
              </form>
            </div>
          </div>
        </div>

        <!-- <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
        </div>
      </div>
    </div> -->
      </div>
    </div>
  </body>
</html>
